@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #111828; /* Fondo gris oscuro */
  color: #edf2f7; /* Texto claro para contraste */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html {
  background-color: #111828; /* Asegura que el fondo de la página sea gris oscuro */
}

#root {
  flex: 1;
  background-color: #111828; /* Asegura que el fondo del root sea gris oscuro */
}

.navbar img {
  height: 2.5rem; /* Ajuste general para el tamaño del logo */
}

@media (max-width: 768px) {
  .navbar img {
    height: 2rem; /* Ajuste para pantallas más pequeñas */
  }
}
